.dashboard{
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 0;
    border: 2px solid transparent;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 4px;
}

.bar-chart{
    width: 500px;
 
    border: 2px solid;
    
}

.pie-chart{
    width: 500px;
    border: 2px solid;

}

