*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 50px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-left{
    margin-left: 20px;
}
.header-right{
    margin-right: 20px;
}
.header-right button{
    border-radius: 50px;
    width: 80px;
    background-color: rgb(165, 147, 42);
}

