.navbar{
    position: absolute;
    top: 50px;
    bottom: 0;
    right:0;
    height: 100px;
    left: 300px;
    border: 2px solid transparent;
    display: flex;
    background-color: #9C446E ;
    z-index: 9;
      
}

.navbar-children{
    display: flex;
    align-items: center;
    justify-content: start;
  color: white;
  width: 100%;

}

.navbar-children-left{
  display: flex;
  width: 55%;
  height: 80%;
 
  justify-content: space-around;
  align-items: center;
  

}
.navbar-heading{
 text-align: center;
}

.navbar-icon{
  margin-left: 4px;
  margin: 2px;
  width: 20px;
}
.navbar-board,.navbar-table,.navbar-clender,.navbar-dashBoard{
  display: flex;
  align-items: center;
  justify-content: start;
  
}

.calender-icon{
  width: 11px;
  margin-bottom: 5px;
  margin-right: 4px;
}


.navbar-children-right{
  width: 36%;
}

.nav-item-active{
  text-decoration: none;
  color: inherit;
  color: black;
  background-color: white;
  border-radius: 4px;
 padding: 4px;
}

.inside-link-tag{
  text-decoration: none;
  color:white;
  margin: 4px;
}

.dropdown-content {
  position: absolute; 
  background-color: whitesmoke;
  z-index: 1000;
  width: 150px; 
  padding: 10px; 
  border-radius: 4px; 
  color: white;
  top: 15px; 
  left: 0; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
  color:black
}

.dropdown-content label {
  cursor: pointer;
  display: flex;
  align-items: center;
}