.outer-list-card{
  position: fixed;
  border: 2px solid black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.list-card{
    position: fixed;
    top: 50px;
    height: 1000px;
    width: 700px;
    border: 2px solid;
    z-index: 15;
    display: flex;
    flex-direction: row; 
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: auto;
    justify-content: space-between;
    padding: 5px;
}

.list-card-left{
    border: 2px solid;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.list-card-right{
    border :2px solid;
    width: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
   
}

.cross-button{
    position: absolute;
    right: 10px;
    top: 8px;
    border: 0px;
    
}

.list-card-right-content{
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 150px;
    border: 2px solid;
}

.list-card-right-content-button{
    margin: 4px;
    height: 30px;
    border-radius: 4px;
}

.dateDropDown{
    height: 600px;
    width: 200px;
    position: absolute;
   right:0;
    background-color: yellow;
   
}
